@import "./styles/globals.css";

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--card);
}

:root {
    --bg: #f9f9f9;
    --text: #111;
    --card: #fff;
    --accent: #002855;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

body.dark {
    --bg: #121212;
    --text: #eee;
    --card: #1f1f1f;
    --accent: #49525b;
}